.page{
  text-align:center;
  padding:30px;
}

table{
  margin:auto;
  border-collapse:collapse;
  width:80%;
}

th, td,h2{
  border:1px solid #ccc;
  padding:10px;
  color:black;
  text-align: center;
}

img{
  border-radius:5px;
}

button{
  margin:5px;
  padding:5px 10px;
  border:none;
  background:#007bff;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#0056b3;
}
